<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    
        <footer>
            <div class="footer">
                <div class="logo"><a href="/" class="link_editor_false_logo_img"><img
                            src="./photo_2025-11-26_19-38-22-removebg-preview.png"></a></div>
                <div class="text1">Copyright © Top Style. 2000-2022.<br>Все права защищены<br type="_moz">
                </div>
                <div class="phone_and_address">
                    
                       <a href="tel:+74958928323" class="phone1_zphone " >+7(495)892-83-23</a>
                    
                    <div class="address1">Кировская обл., г. Сергиев Посад, бульвар Ленина, 80</div>
                </div>
            </div>
        </footer>


</body>

</html>