.container{
width: 1200px;
padding: 0 16px;
margin: 0 auto;
}
.image{
    width: 200px;
    height: 60px;
}
.main_link{
    padding: 8px 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
font-family: Onest, sans-serif;
}
.main_link:hover{
    border: 1px solid rgb(0, 0, 0,.1);
    background-color: rgb(0, 0, 0,.1);
}
.main_bar{
    display: flex;
    align-items: center;

}*{
    margin: 0 auto;
}
.text{
    font-size: 40px;
   display: flex;
   justify-content: center;
padding: 20px ;
}
.side1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    gap:35px;
    padding: 10px;


    
}
.same_text{
    font-size: 18px; width: 660px;     font-family: Onest, sans-serif ;font-weight: 300; line-height: 1.4;
}