.container{
width: 1200px;
padding: 0 16px;
margin: 0 auto;
}
.image{
    width: 200px;
    height: 60px;
}
.main_link{
    padding: 8px 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
font-family: Onest, sans-serif;
}
.main_link:hover{
    border: 1px solid rgb(0, 0, 0,.1);
    background-color: rgb(0, 0, 0,.1);
}
.main_bar{
    display: flex;
    align-items: center;

}*{
    margin: 0 auto;
}
.text{
    font-size: 40px;
   display: flex;
   justify-content: center;
padding: 20px ;
}
.side1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    gap:35px;
    padding: 10px;


    
}
.same_text{
    font-size: 18px; width: 660px;     font-family: Onest, sans-serif ;font-weight: 300; line-height: 1.4;
}
.team{
    display: flex;
    justify-content: center;
 margin-top: 30px;
}
.circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.mid{
    display: flex;
    justify-content: center;
width: 570px;
gap: 35px;
    align-items:self-start;
}
.main_mid{
    display: flex;
    justify-content: center;
    width: 1170px;
 
    padding-top:  80px;
    gap:30px
}
footer {margin-top: 150px;
    background-color:#202020;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    padding: 56px 0;
    align-items: center;

}
.phone1_zphone {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
  align-self: self-end;


}
.phone_and_address{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.link_editor_false_logo_img{
width: 120px;

}